{{#validated-form errors=errors detail=detail}}
  <form {{action 'submit' on="submit"}}>
    {{input 
      type="text" 
      value=email 
      placeholder="Email"
      key-press=(action (mut email))
    }}
    {{input 
      type="password" 
      value=password
      placeholder="Password"
      key-press=(action (mut password))
    }}
    {{input 
      type="password" 
      value=passwordConfirm 
      placeholder="Password"
      key-press=(action (mut passwordConfirm))
    }}
    <button {{action 'submit'}}>Sign up</button>
  </form>
{{/validated-form}}